# The conflict is happening because your project has two "bosses" with different rules:
# Expo 54 demands React 19.1.0.
# Clerk (@clerk/clerk-expo) has a rule (a peerDependency) that says: "I only work with React 18, or very specific patches of 19 like 19.1.4."
legacy-peer-deps=true